<!-- new-post-form.hbs -->
<div class="card">

  <div>
    <label for="create-title">Title:</label>
    <input type="text" id="create-title" name="create-title" required />
    <label for="create-description">Content:</label>
    <textarea
      id="create-description"
      name="create-description"
      required
    ></textarea>
  </div>
  <button type="submit" id="createPost">Create Post</button>

</div>

<script src="/js/create.js"></script>