<form action="/posts/{{post.id}}" method="PUT">
  <div>
    <textarea id="update-title" name="update-title">{{post.title}}</textarea>
    <label for="content">Content:</label>
    <textarea
      id="update-description"
      name="update-description"
    >{{post.description}}</textarea>
  </div>
  <button type="submit" id="update-form">Update Post</button>
  <button type="submit">Cancel</button>
</form>