<div>
  <h1>
    Home
  </h1>
  {{#each posts as |post|}}
    <section>
      <article>
        <header>
          <h3><a href="#">{{post.title}}</a></h3>
          <p>Posted on
            <time datetime="2023-04-23">{{post.date_created}}</time>
        </header>
       <p> {{post.description}}</p>
      </article>
    </section>
  {{/each}}
</div>